.page {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .content {
    display: flex;
    width: 100%;
    height: 100%;

    .folder-list-panel {
      position: relative;
      display: flex;
      min-width: 10em;
      height: 100%;
      flex-direction: row;
      border-right: 2px solid gray;

      .folder-list {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
      }

      .resizable-right {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 1px;
        border-right: 1px solid lightgrey;
      }
    }

    .source-list {
      position: relative;
      display: flex;
      min-width: 10em;
      height: 100%;
      flex-direction: column;
    }
  }

}
