<div class="page">
  <div class="content">
    <div class="folder-list-panel"
         [style.width.px]="width"
         mwlResizable
         [enableGhostResize]="true"
         [resizeEdges]="{ right: true }"
         (resizeEnd)="onResizeEnd($event)">
      <app-folder-list class="folder-list"></app-folder-list>
      <div class="resizable-right">
      </div>
    </div>
<!--    <mat-divider-->
<!--      [vertical]="true"-->
<!--      md-inset></mat-divider>-->
    <div class="source-list">

    </div>
  </div>
</div>
